# Client-Side IBM Orchestrate Configuration (Example Template)
VITE_IBM_ORCHESTRATE_INTEGRATION_ID=
VITE_IBM_ORCHESTRATE_CRN=
VITE_IBM_ORCHESTRATE_AGENT_ID=
VITE_IBM_ORCHESTRATE_HOST_URL=
VITE_IBM_ORCHESTRATE_AGENT_ENV_ID=live
