# Port for backend service
PORT=5000

# IBM Watsonx Orchestrate Channel Credentials
IBM_ORCHESTRATE_INTEGRATION_ID=
IBM_ORCHESTRATE_CRN=
IBM_ORCHESTRATE_AGENT_ID=
IBM_ORCHESTRATE_HOST_URL=
IBM_ORCHESTRATE_AGENT_ENV_ID=live
